@charset "UTF-8";

body { /* estilos generales para el cuerpo de la página */   
    margin: 0;
    text-align: center;
    font-family: 'Roboto','Arial';
    background-color: #f2f4f6;
    color: #131212;
}

/******************************* CONTENEDORES **********************/

.top_container{ /* estilos del contenedor superior que se mantiene en todas las páginas */ 
    background-image: url(../images/tunnel.png);    /* fijar imagen de fondo desde un archivo */ 
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center 55%;    /* escoger que parte de la imagen se muestra  */ 
    position: relative;                 /* posición relativa a su posición estática usual  */ 
    padding-top: 10px;
    padding-bottom: 200px;  
}

.main_container { /* estilos para el contenedor central que varía en cada página */
    padding: 10px 5% 20px;
    margin: 0;
}

.bottom_container { /* estilos del contenedor inferior que se mantiene en todas las páginas */ 
    background-color: #a50202;
    color: #ffffff;
    padding: 20px 0;
    margin: 0;
}

/******************************* TITULOS **********************/

.title{     /* estilos del título principal */ 
    font-family: 'Titillium Web', 'Arial', sans-serif;
    font-style: italic;
    font-size: 20mm;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);   /* fijar el color de fondo del título incluyendo su opacidad */ 
    margin-top: 50px;
    margin-bottom: 50px;
}

a.title-link {
    color: #ebebeb;
    text-decoration: none;
}
a.title-link:visited {
    color: #ebebeb;
    text-decoration: none;
}
a.title-link:hover {    /* estilo cuando el cursor está sobre el link */ 
	color: #fc4545;
    text-decoration: none;
}

.subtitle{  /* estilos del subtítulo principal */ 
    font-size: 10mm;
    font-weight: bold;
    background-color: rgb(255, 255, 255, 0.6);  /* fijar el color de fondo del título incluyendo su opacidad */
    color: #a50202;
    margin-top: 0;
    margin-bottom: 20px;
}

.subpage-title{ /* estilos para el título de cada página individual en el contenedor principal */ 
    color: #a50202;
    font-size: 12mm;
    margin: 20px 0;
}

.subpage-subtitle{
    color: #131212;
    font-size: 9mm;
    margin: 20px 0;
}

/******************************* BOTONES **********************/

a.boton-menu:visited {  /* estilos para los botones principales del menú cuando el link ya ha sido visitado */ 
    color: #ffffff;
}

.boton-menu {           /* estilos para los botones del menú, generados en https://www.bestcssbuttongenerator.com/ */
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #a50202 5%, #f24437 100%);
	background-color:#a50202;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:7px 25px;
	text-shadow:0px 1px 0px #810e05;
    text-decoration: none;
    min-width: 160px;
}
.boton-menu:hover {     /* estilos para los botones del menú, generados en https://www.bestcssbuttongenerator.com/ */
	background:linear-gradient(to bottom, #f24437 5%, #a50202 100%);
	background-color:#f24437;
    color: #ffffff;
    text-decoration: none;
}
.boton-menu:active {    /* estilos para los botones del menú, generados en https://www.bestcssbuttongenerator.com/ */
	position:relative;
	top:1px;
}

/******************************* MENÚ DESPLEGABLE **********************/

#menu-toggle {
    display: none;   /* oculta el checkbox cuando no es necesario*/
}

.menu ul{
    list-style: none;     /* para evitar los bullit list en la lista*/
    padding: 0;
    display: flex;
}

.menu li{
    width: 160px;
    height: 30px;
    text-decoration: none; 
    margin: 10px 0;
} 

.menu li a {
    display: block;
    text-decoration: none;    
    padding-top:6px;    
}

header {
    width: 100%;
	z-index: 10;	/* coloca el checkbox por encima del contenido*/
}

.menu ul{
    justify-content: center;
}

header label {     /* coloca el checkbox en un lugar y tamaño exactos*/
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 20px;
    top: 30px;
} 

header label:hover {
    cursor: pointer;    /* cambia el cursor sobre el checkbox para indicar la interacción*/
}

/* cuando la ventana mida menos de 1200px */
@media only screen and (max-width: 1200px) {
    header label{
        display: block; /* se muestra el checkbox cuando se reduce la ventana*/
    }

    .menu {
        position: fixed;  /* sostiene la posición aunque se haga scroll en el contenido */
        background: rgba(0, 0, 0, 0.5); /* rojo, verde, azul, alpha (transparencia) */
		z-index: 30; /* para asegurar que el menu esta por encima de todo lo demás*/
        width: 40%; /* se refiere al ancho del fondo del menu y no a los botones */
        margin-left: -60%; /* se oculta porque se coloca por fuera de la ventana*/
		margin-top: 4px;
        transition: all 1s;   /* la animación de desplegar el menu dura 1 segundo*/
        width: 200px;
    } 

    .menu ul {
        flex-direction: column;  /* se despliega en sentido vertical*/
        margin-left: 20px; 
    } 

    #menu-toggle:checked ~ .menu {  /* el checkbox controla las dos posiciones del menu */
        margin: 1px; 
    } 

}

/******************************* ELEMENTOS CONTENEDOR INFERIOR **********************/

.mail-link{         /* estilos del emoji utilizado como botón de correo */ 
    font-size: 10mm;
}

.mail-link:hover{   /* estilos del emoji utilizado como botón de correo cuando pasa el cursor por encima */ 
    opacity: 0.5;
}

/******************************* ESTILOS GENERALES **********************/

a{
    text-decoration:none; /* para que no subraye los vínculos */ 
}

a:hover{
    text-decoration:none; /* para que no subraye los vínculos */ 
}

.table-image{   /* estilos para las imágenes que van dentro de tablas */
    width: 100%;
    margin: 20px 0;
}

.table-text{    /* estilos para el texto que va dentro de tablas */
    text-align: left;
    font-size: 6mm;
    padding: 20px 0;
}

.table-list{    /* estilos para las listas que van dentro de tablas */
    text-align: left;
    font-size: 5mm;
}

.text-link{      /* estilos de los links insertados en el texto */ 
    color:#a50202;
}

.text-link:hover{    /* estilos de los links insertados en el texto cuando pasa el cursor por encima */ 
    color:#ffffff;
    background-color: #a50202;
}

.text-link:visited { /* estilos de los links insertados en el texto cuando ya fueron visitados */ 
    color: #a50202;
}

.text-link:visited:hover{ /* estilos de los links insertados en el texto cuando ya fueron visitados y pasa el cursor por encima */ 
    color:#f2f4f6;
    background-color: #a50202;
}

.body-text{ /* estilos para el texto general del body */
    text-align: center;
    font-size: 6mm;
    padding: 20px 0;
}

.body-image{        /* estilos para las imágenes en el cuerpo de la página */
    width: 95%;
}

/******************************* UBICACIÓN **********************/

.flag-image{    /* estilos para la imagen de la bandera de Mónaco */
    margin: 20px 0;
    border: 5px groove;
}

.track-image{   /* estilos para la imagen con el diagrama del circuito */
    margin: 20px 0;
}

/******************************* HABITANTES **********************/

.resident-image{    /* estilos para las imágenes de los residentes notables */
    width: 100%;
    margin: 10px 0;
}

.resident-text{     /* estilos para el texto sobre los residentes notables */
    font-size: 8mm;
    font-weight: bold;
}

/******************************* HISTORIA **********************/

.winner-image{      /* estilos para las imágenes de los ganadores en Mónaco */
    width: 100%;
    margin: 10px 0;
}

.winner-text{       /* estilos para el texto sobre los ganadores en Mónaco */
    font-size: 7mm;
    font-weight: bold;
}

/******************************* CRÉDITOS **********************/

.credits-list{      /* estilos de la lista que contiene los créditos */ 
    text-align: left;
}

.credits-link{      /* estilos de los créditos que llevan a sus páginas de origen */ 
    color:#131212;
    font-size: 5mm;
}

.credits-link:hover{    /* estilos de los créditos que llevan a sus páginas de origen cuando pasa el cursor por encima */ 
    color:#ffffff;
    background-color: #a50202;
}

.credits-link:visited { /* estilos de los créditos que llevan a sus páginas de origen cuando ya fueron visitados */ 
    color: #131212;
}

.credits-link:visited:hover{ /* estilos de los créditos que llevan a sus páginas de origen cuando ya fueron visitados y pasa el cursor por encima */ 
    color:#f2f4f6;
    background-color: #a50202;
}

